body {
  background-color: slategray;
  font-family: Georgia;
  }

  #main {
  width: 80%;
  max-width: 950px;
  border: 1px gray solid;
  margin: auto;
  padding: 10px;
  background-color: lightsteelblue;
  }

  #header {
  margin-top: 0;
  padding: 5px;
  height: 100px;
  background-image: url("background.jpg");
  color: white;
  border: 1px solid; color: black

}
