body {
  background-color: Lavender;
  font-family: Georgia;
  }


  #header {
  margin-top: 0;
  padding: 5px;
  height: 250px;
  background-image: url("background.jpg");
  color: Azure;
  border: 1px solid; color: black

}

li {
  list-style-type: none;
}
