body {
  background-color: slategray;
  font-family: Georgia;
  }


  #header {
  margin-top: 0;
  padding: 5px;
  height: 100px;
  background-image: url("background.jpg");
  color: white;
  border: 1px solid; color: black

}

li { 
  list-style-type: none;
}
